@import '../variables.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffffff;
  max-width: 1300px;
  margin: 0 auto;

  .navbarLeft {
    .logo {
      font-size: 1rem;
      font-weight: bold;
      color: #333;
      text-decoration: none;
      img {
        width: 150px;
      }
    }
  }

  .navbarRight {
    .navLinks {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        margin-left: 1.5rem;

        a {
          text-decoration: none;
          color: #333;
          font-weight: 500;
          transition: color 0.3s ease;

          &:hover {
            color: $color6;
          }
        }
      }
    }
  }

  .menuButton {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;

    span {
      width: 2rem;
      height: 0.25rem;
      background: #333;
      border-radius: 10px;
      transition: all 0.3s linear;
      position: relative;
      transform-origin: 1px;

      &:first-child {
        transform: rotate(0);
      }

      &:nth-child(2) {
        opacity: 1;
        transform: translateX(0);
      }

      &:nth-child(3) {
        transform: rotate(0);
      }
    }

    &.active {
      span {
        &:first-child {
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
          transform: translateX(20px);
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }
  }

}

@media (max-width: 768px) {
  .navbar {
    .navbarRight {
      .menuButton {
        display: flex;
      }

      .navLinks {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        height: 100%;
        background: #ffffff;
        padding: 20px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        transform: translateY(10%);
        transition: transform 0.8s ease-in-out;
        li{
          padding-top: 70px;
        }
      }
      
      .navbarRight.open .navLinks {
        display: flex;
        transform: translateY(0);
      }

      &.open {
        .navLinks {
          display: flex;
        }
      }
    }
  }
}