.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  
    .navbarLeft {
      .logo {
        font-size: 1rem;
        font-weight: bold;
        color: #333;
        text-decoration: none;
        img{
            width: 150px;
        }
      }
    }
  
    .navbarRight {
      .navLinks {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
  
        li {
          margin-left: 1.5rem;
  
          a {
            text-decoration: none;
            color: #333;
            font-weight: 500;
            transition: color 0.3s ease;
  
            &:hover {
              color: #007bff; // Couleur au survol, à ajuster selon votre palette
            }
          }
        }
      }
    }
  }
  
  // Media query pour la responsivité
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      padding: 1rem;
  
      .navbarRight {
        margin-top: 1rem;
  
        .navLinks {
          flex-direction: column;
          align-items: center;
  
          li {
            margin: 0.5rem 0;
          }
        }
      }
    }
  }