

body {
  margin: 0;
  font-family: 'Roboto', sans-serif; /* Police principale */
  /* background-color: #f5f7fa; */
  color: #333;
}

h1, h2, h3 {
  font-family: 'Delius', cursive; /* Utilisation de Delius pour les titres */
}

a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  color: #2980b9;
}